    <blockquote>
        <p class="lead">Atendimento Espiritual</p>
    </blockquote>

    <div class="row">    
        <!----> 
        <div class="col-md-10 col-md-offset-1">
            <img src="template/images/img_assistencia_espiritual.jpg" class=" img img-responsive" title="Clique para ver em tamanho normal">
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead">O <b>Atendimento Espiritual</b> no Centro Espírita abrange as seguintes atividades:</p>
            
            <p><span class="glyphicon glyphicon-check text-primary" aria-hidden="true"></span> Recepção</p>
            <p><span class="glyphicon glyphicon-check text-primary" aria-hidden="true"></span> Atendimento Fraterno pelo Diálogo</p>
            <p><span class="glyphicon glyphicon-check text-primary" aria-hidden="true"></span> Reunião Pública para explanação do Evangelho à Luz da Doutrina Espírita</p>
            <p><span class="glyphicon glyphicon-check text-primary" aria-hidden="true"></span> Atendimento pelo Passe</p>        
            <p><span class="glyphicon glyphicon-check text-primary" aria-hidden="true"></span> Irradiação</p>        
            <p><span class="glyphicon glyphicon-check text-primary" aria-hidden="true"></span> Evangelho no Lar e no Coração</p>                    
        </div>
    </div>

    <div>
        <h4 class="bg-primary">Horários e Exclarecimentos</h4>
        <p>
            O atendimento fraterno é realizado conforme as orientações da <b>FEB</b> e do <b>CEERJ</b>
            e ocorre antes das reuniões públicas.
        </p>
        <p>
            Deve ser agendado na recepção do <span class="text-primary"><b>CEI</b></span>, podendo ocorrer no mesmo dia.
        </p>
        <p>
            No atendimento fraterno serão dadas orientações para aqueles necessitados de auxílio espiritual.
        </p>
    </div>

<!--    <div> 
        <p><span class="glyphicon glyphicon-time text-info" aria-hidden="true"></span> <b>Segunda-feira</b> - de 14:00h às 14:50h</p>
        <p><span class="glyphicon glyphicon-time text-info" aria-hidden="true"></span> <b>Terça-feira</b> - de 19:00h às 19:50h</p>
        <p><span class="glyphicon glyphicon-time text-info" aria-hidden="true"></span> <b>Quarta-feira</b> - de 18:50h às 19:20h</p>
        <p><span class="glyphicon glyphicon-time text-info" aria-hidden="true"></span> <b>Sexta-feira</b> - de 18:50h às 19:20h</p>
        <p><span class="glyphicon glyphicon-time text-info" aria-hidden="true"></span> <b>Sábado</b> - de 19:00h às 19:30h</p>
    </div>-->

    <p>
        O atendimento fraterno tem como objetivo primacial receber bem e orientar com segurança todos 
        aqueles que o buscam.
    </p>
    <p>
        Não se propõe a resolver os desafios nem as dificuldades, eliminar as doenças nem os sofrimentos, 
        mas propor ao cliente os meios hábeis para a própria recuperação.
    </p>
    <p>
        Apoiando-se nos postulados espíritas, o atendimento fraterno abre perspectivas novas e projeta 
        luz naqueles que se debatem nos dédalos das aflições.
    </p>
    <p>
        Concomitantemente, o atendimento fraterno, em razão dos propósitos que persegue e das 
        circunstâncias em que ocorre, faculta aos Espíritos nobres adequado socorro ao cliente, 
        que deverá permanecer receptivo ao mesmo.
    </p>
    <p>
        Nessa ocasião, tem início a ação fluídica, o auxílio bio-energético, a inspiração, que lhe 
        propiciarão a mudança de clima mental, de psicosfera habitual, facultando-lhe a transformação 
        interior para melhor e a rearmonização da alma que interagirá na aparelhagem orgânica.
    </p>
    <p>
        O Atendimento Fraterno não tem como finalidade fazer prosélitos. De igual
        modo não se deve converter em consultório psicológico.
    </p>
    <p>
        Uma coisa é certa: o trabalho do Atendimento tem compromisso com a
        discrição e o anonimato, por força de um impositivo ético que é comum a todas
        as disciplinas voltadas para a saúde física ou moral da criatura humana.
    </p>