    <blockquote>
        <p class="lead">Grupo Joanna de Ângelis
        <small>Conhecendo a Si Mesmo (Estudo da Série Psicológica)</small></p>
    </blockquote>

    
    <!-- PROGRAMAÇÃO -->
    <div>
        <table class="table table-bordered">
            <thead>
                <th class="info">Local</th>
                <th class="info">Conteúdo</th>
                <th class="info">Horário</th>
            </thead>
            <tbody>
                <!-- QUINTA -->
                <tr>
                    <td colspan="3" class="semana_td">Sábado - (quinzenalmente, 2° e 4° sábados)</td>
                </tr>
                <tr>
                    <td>Chico Xavier</td>
                    <td>Estudo das Obras de Joanna de Ângelis a luz do Evangelho</td>
                    <td>18:15h às 19:30h</td>
                </tr> 
            </tbody>
        </table>
    </div>
    
    <!-- GRUPO MANOEL PHILOMENO -->
    <blockquote>
        <p class="lead">Grupo Manoel Philomeno
        <small>Estudo das obras  de Manoel Philomeno de Miranda</small></p>
    </blockquote>    
    
    <!-- PROGRAMAÇÃO -->
    <div>
        <table class="table table-bordered">
            <thead>
                <th class="info">Local</th>
                <th class="info">Conteúdo</th>
                <th class="info">Horário</th>
            </thead>
            <tbody>
                <!-- QUINTA -->
                <tr>
                    <td colspan="3" class="semana_td">Sábado - (quinzenalmente,1°, 3° e 5º sábados)</td>
                </tr>
                <tr>
                    <td>Chico Xavier</td>
                    <td>Livro "Trilhas da Libertação"</td>
                    <td>18:30h às 19:30h</td>
                </tr> 
            </tbody>
        </table>
    </div>
    
    
    <!-- GRUPO PLENITUDE -->
    <blockquote>
        <p class="lead">Grupo Plenitude
        <small>Estudo do livro "Plenitude" de Divaldo Franco / Joanna de Ângelis</small></p>
    </blockquote> 
    
    <!-- Programação -->
    <div>
        <table class="table table-bordered">
            <thead>
                <th class="info">Local</th>
                <th class="info">Conteúdo</th>
                <th class="info">Horário</th>
            </thead>
            <tbody>
                <!-- QUINTA -->
                <tr>
                    <td colspan="3" class="semana_td">Quarta-feira</td>
                </tr>
                <tr>
                    <td>Chico Xavier</td>
                    <td>Livro "Plenitude"</td>
                    <td>18h às 19h</td>
                </tr> 
            </tbody>
        </table>
    </div>
    
    
    <!-- Pré-requisitos -->
    <div>
        <h4 class="bg-primary">Pré-requisitos</h4>
            <p><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> Ter cursado ou estar cursando o ESDE</p>
            <p><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> Ser médium ou estudante da Mediunidade</p>
            <p><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> Ser trabalhador da casa</p>
            <p><span class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span> Ter frequência ao CEI</p>
    </div>