<!-- SESSOES -->
<div id="sub_caixa">
    <span>
        <a href="artigo/exibe/atendimento">Atendimento Espiritual</a>
    </span>
    <br>
    <span>
        <a href="biblioteca">Biblioteca</a>
    </span>
    <br>
    <span>
        <a href="artigo/exibe/historico">Histórico</a>
    </span>
    <br>
    <span>
        <a href="indexCode.php/videos">Vídeos</a>
    </span>    
</div>