<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Centro Espírita Ibirajara</title>
    <meta charset="UTF-8">
    <base href="/ibirajara/">
    
    {LIBRARIES}
</head>


<body>
    
    <!-- DIV CABEÇALHO -->
    <div id="cabecalho">
        <div class="container">
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-2">
                    <img src="template/images/logo_cei.png" width="130" class="img-responsive">
                </div>

                <!-- TEXTO -->
                <div class="col-md-6 text-center">
                    <div>
                        <span class="cei">Centro Esp&iacute;rita Ibirajara</span>
                        <p class="endereco">
                            Rua Bar&atilde;o de S&atilde;o Francisco, 156 - Andara&iacute;
                            <br>
                            Rio de Janeiro - RJ
                            <br>
                            CEP 20560-030 - Tel: (21) 2238-3880
                            <br>
                            filiado ao 12&deg; CEU - CEERJ
                        </p>
                    </div>
                </div>
                    
                <!-- IBIRAJARA -->
                <div class="col-md-4">
                    <img src="template/images/IBIRAJARA.png">
                </div>
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /cabeçalho -->
        
    <!-- MENU -->
    {MENU}    
   
    
    <!-- PRINCIPAL -->
    <div class="container">

        <div class="row">
            <!-- CONTEÚDO -->
            <div id="conteudo" class="col-md-9">

                <!-- EVENTOS -->
                <div class="panel panel-primary">
                    <!-- Panel heading -->
                    <div class="panel-heading">Eventos</div>
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <!-- Slide Show -->
                        {SLIDESHOW}
                    </div> <!-- /panel-body -->
                </div> <!-- / panel-primary -->

                <!-- PROGRAMAÇÃO DA SEMANA -->
                <div class="panel panel-primary">
                    <!-- Panel heading -->
                    <div class="panel-heading">Programação da Semana</div>
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <!-- Semana --> 
                        {PROGRAMA}
                    </div> <!-- /panel-body -->
                </div> <!-- / panel-primary -->

                <!-- BOLETIM -->
                <div class="panel panel-primary">
                    <!-- Panel heading -->
                    <div class="panel-heading">Boletim Esperança</div>
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <!-- BOLETIM -->  
                        {BOLETIM}
                    </div> <!-- /panel-body -->
                    
                </div> <!-- / panel-primary -->
            </div><!-- div conteudo -->	


            <!-- SIDEBAR -->
            <div id="sidebar" class="col-md-3">

                <!-- Sub-menu -->
                <div class="panel panel-primary">                        
                    <!-- Panel heading -->
                    <div class="panel-heading">Menu</div>                        
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <!-- Slide Show -->
                        {SUB_MENU}
                    </div> <!-- /panel-body -->                        
                </div> <!-- / panel-primary -->

                <!-- LIVROS -->
                <div class="panel panel-primary">                        
                    <!-- Panel heading -->
                    <div class="panel-heading">Livro da Semana</div>                        
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <img src="template/images/Nosso_lar_min.jpg">
                        <p>Nosso Lar </p>
                    </div> <!-- /panel-body -->                        
                </div> <!-- / panel-primary -->

                <!-- AVISOS -->
                <div class="panel panel-primary">                        
                    <!-- Panel heading -->
                    <div class="panel-heading">Avisos</div>                        
                    <!-- Panel Body -->
                    <div class="panel-body">
                        Captamos doações de: roupas, ítens de higiene, destinados a moradores em situação de rua;
                        absorventes, leite em pó e gêneros, fralda de pano, escova e pente para bebês (as roupas devem
                        estar limpas e em boas condições de uso), e luvas de procedimento M e G e fralda geriátrica
                        M e G para AC Vicente Moretti.
                    </div> <!-- /panel-body -->                        
                </div> <!-- / panel-primary -->

            </div> <!-- /sidebar -->  
        </div><!-- div row container -->
    </div><!-- div container -->
    
    <!-- FOOTER -->
    <footer> 
        <div class="container">
            <div class="row">
                <!-- RODAPÉ -->
                <div id="rodape">&nbsp;</div>
            </div>
        </div>
    </footer>
        

    

</body>
</html>