<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Centro Espírita Ibirajara</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/ibirajara/">
    
    {LIBRARIES}
</head>


<body>
<!-- DIV CABEÇALHO -->
    <div id="cabecalho">
        <div class="container">
            <div class="row">
                <!-- LOGO -->
                <div class="col-md-2">
                    <img src="template/images/logo_cei.png" width="130" class="img-responsive">
                </div>

                <!-- TEXTO -->
                <div class="col-md-6 text-center">
                    <div>
                        <span class="cei">Centro Esp&iacute;rita Ibirajara</span>
                        <p class="endereco">
                            Rua Bar&atilde;o de S&atilde;o Francisco, 156 - Andara&iacute;
                            <br>
                            Rio de Janeiro - RJ
                            <br>
                            CEP 20560-030 - Tel: (21) 2238-3880
                            <br>
                            filiado ao 12&deg; CEU - CEERJ
                        </p>
                    </div>
                </div>
                    
                <!-- IBIRAJARA -->
                <div class="col-md-4">
                    <img src="template/images/IBIRAJARA.png">
                </div>
            </div> <!-- /row -->
        </div> <!-- /container -->
    </div> <!-- /cabeçalho -->
        
    <!-- MENU -->
    {MENU}    
    
    <!-- PRINCIPAL -->
    <div class="container">

        <div class="row">
            <!-- CONTEÚDO -->
            <div id="conteudo" class="col-md-9">
                
                <!-- CONTENT -->
                <div class="panel panel-primary">
                    <!-- Panel heading -->
                    <div class="panel-heading">{SESSAO}</div>
                    <!-- Panel Body -->
                    <div class="panel-body">
                        {CONTENT}
                    </div> <!-- /panel-body -->
                </div> <!-- / panel-primary -->
            </div>
        
            <!-- SIDEBAR -->
            <div id="sidebar" class="col-md-3">

                <!-- Sub-menu -->
                <div class="panel panel-primary">                        
                    <!-- Panel heading -->
                    <div class="panel-heading">Menu</div>                        
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <!-- Slide Show -->
                        {SUB_MENU}
                    </div> <!-- /panel-body -->                        
                </div> <!-- / panel-primary -->
                
                <!-- VÍDEOS -->
                <div class="panel panel-primary">
                    <!-- Panel Heading -->
                    <div class="panel-heading">Últimos Vídeos</div>
                    <!-- Panel Body -->
                    <div class="panel-body">
                        <iframe style="width: 100%;" src="https://www.youtube.com/embed/YqFnkgZlEMo?showinfo=0" frameborder="0" allowfullscreen></iframe>
                        <p>Animismo - Porque o medo?</p>
                        <div class="text-right">
                            <a href="indexCode.php/videos">Ver mais...</a>
                        </div>
                    </div>
                </div>
                
                <!-- MAPA -->
                <div class="panel panel-primary">
                    <div class="panel-heading">Localização</div>

                    <div class="panel-body">
                        <div id="map" style="height: 200px;"></div>
                        <script type="text/javascript">

                        var map;
                        function initMap() {
                          map = new google.maps.Map(document.getElementById('map'), {
                            center: {lat: -22.922288, lng: -43.250170},
                            zoom: 18
                          });
                           var marker = new google.maps.Marker({
                            position: {lat: -22.922288, lng: -43.250170},
                            map: map,
                            title: 'C. E. Ibirajara'
                          });

                        }

                        </script>
                        <script async defer
                          src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCS0g7w8hF6_YpljSuPEAArnmUP2OZPMrk&callback=initMap">
                        </script>
                    </div>
                </div>
                
                <!-- AVISOS -->
                <div class="panel panel-primary">                        
                    <!-- Panel heading -->
                    <div class="panel-heading">Avisos</div>                        
                    <!-- Panel Body -->
                    <div class="panel-body" id="aviso_txt"></div> <!-- /panel-body -->                   
                </div> <!-- / panel-primary -->

            </div> <!-- /sidebar -->  
        </div><!-- div row container -->
    </div><!-- div container -->
    
    <!-- FOOTER -->
    <footer> 
        <div class="container">
            <div class="row">
                <!-- RODAPÉ -->
                <div id="rodape">&nbsp;</div>
            </div>
        </div>
    </footer>
            
</body>
</html>