<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Centro Espírita Ibirajara</title>
        <base href="/ibirajara/">
        <meta charset="UTF-8">
    
    {LIBRARIES}
</head>


<body>
<div id="tudo">
    <!-- DIV CABEÇALHO -->
    <div id="cabecalho">
        <div id="logo">
            <img src="template/images/logo_cei.png" width="110">
        </div>
        
        <!-- C. E. Ibirajara -->
        <div id="cei">
            <span class="cei">Centro Esp&iacute;rita Ibirajara</span>
            <br>
            <p class="endereco">
                Rua Bar&atilde;o de S&atilde;o Francisco, 156 - Andara&iacute;
                <br>
                Rio de Janeiro - RJ
                <br>
                CEP 20560-030 - Tel: (21) 2238-3880
                <br>
                filiado ao 12&deg; CEU - CEERJ
            </p>
        </div>
        
        <!-- Lema Ibirajara -->
        <div class="lema">
            <img src="template/images/IBIRAJARA.png">
        </div>
    </div>
        
    <!-- MENU -->
    {MENU}
    
    <!-- clear -->
    <div class="clear"></div>  
    
    <!-- Content -->
        <div id="sistema" class="sistema">            
            {SISTEMA}
        </div> <!-- /content -->
        
 <!-- RODAPÉ -->
    <div id="footer">
        &nbsp;
    </div>
        
    </div>
    
</div>

    <!-- MENSAGEM -->
    <div id="mess" style="display: none;" title="Mensagem">
        <p id="txtMensagem"></p>
    </div>

    <!-- JANELA MODAL -->
    <div id="janelaModal" class="reveal-modal">
	<a class="close-reveal-modal">×</a>
        <div id="janelaModalData"></div>
    </div>
    
</body>
</html>        