/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05/06/2014, 16:14:49
    Author     : flavius
*/

* {margin:0; padding:0;}

body {   
    background-color: #00BFFF;  
}

#tudo {
    width: 800px;
    margin: 0 auto;
}

#cabecalho {
    border-left: 1px black solid;
    border-right: 1px black solid;
    background-color: #3366FF;
    width: 778px;
    padding: 10px;
    display: table;
}

    #logo {
        display: block;
        float: left;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}


/* ----------------------------------------------------------------------------------------------------------
4) Layout
---------------------------------------------------------------------------------------------------------- */

 #nav {padding:0 15px 5px 6px;background-color:  blue;border: 1px black solid; border-bottom-left-radius: 10px;
       border-bottom-right-radius: 10px;width: 777px;}
    
        #nav ul {margin:0; width: 750px;height: 38px;position: relative;}
        #nav ul li {float: left;display:block;position: relative;}
        #nav ul li a {float:left; padding:12px 15px 12px 14px;text-decoration: none; color: white;}
        #nav ul li a:hover {background-color: #09F;}
        #nav ul li#nav-active a {font-weight:bold; text-decoration:none;}        
        #nav ul ul {display: none;position:absolute;width:150px;height:auto;background:blue;
                    border:1px solid black;}
        #nav ul li:hover ul {z-index: 9999;display: block;top: 43px;}
        #nav ul li:hover ul li a{border:none;width:121px;border-bottom:1px solid #ddd;}

#cols {margin-top: 5px;width: 798px;background-color: white;border: 1px solid black;border-radius: 10px;
       display:  table;}

        #content {float:left; width:567px; overflow:hidden;border-right: 1px #d3d3d3 solid;min-height: 650px;}
        
            #content #content-title {margin:0; padding:15px 15px 10px 20px; background-color: white; font-size:140%; font-weight:normal;}
            #content #content-in {padding:15px 15px 10px 20px;}
        
        #aside {float:right; width:230px; overflow:hidden;border-top-right-radius: 10px;}
        
            #aside #aside-title {margin:0; padding:15px 15px 10px 15px; background:url("../design/aside-title.gif") 0 0 no-repeat; font-size:140%; font-weight:normal;}
            #aside .aside-in {padding:10px 10px 15px 10px;}
            #aside .aside-box {padding:10px; background:url("../design/aside-box.jpg") 0 0 no-repeat;}
            #aside .title {margin:0 5px 0 0; padding:10px 15px; background:url("../design/aside-title-02.gif") 0 0 repeat-x; font-size:100%;}    

#footer {margin-top: 5px;border-top-left-radius: 10px;border-top-right-radius: 10px;width:798px;height: 30px;
        border: 1px solid #666;background-color: blue;color: white;}

.separator {width: 15px;}

.clear {
    clear: both;
}

.sessao {
    background-color: blue;
    width: 100%;
    padding: 10px; 
    color: white;
    font-weight: bold;
}
    .sessao-left {
        background-color: blue;
        width: 100%;
        padding: 10px; 
        border-top-left-radius: 10px;
        color: white;
        font-weight: bold;
    }
    
    .sessao-right {
        background-color: blue;
        width: 100%;
        padding: 10px; 
        border-top-right-radius: 10px;
        color: white;
        font-weight: bold
    }
    

#sub_caixa {margin: 5px;background-color: #CCF;border-top-left-radius: 10px;border-top-right-radius: 10px;
            padding: 8px;margin-bottom: 20px;}
    #sub_caixa a:hover {color:#666;}
    

#cei {
    float: left;
    position: relative;
    width: 500px;
    text-align: center;
}

.cei {
    font-size: 40px;
    color: white;
    font-family: Arial, Lucida, sans-serif;
    font-weight: bold;
}

.endereco {
    font-size: 12px;
    text-align: center;
}

.lema {
    float: left;
    position: relative;
    width: 150px;
    text-align: center;
}

.trab {
    font-family: Comic Sans, Comic Sans MS, cursive;
    font-style: italic;
    font-size: 20px;
    
}

.txtMenu {
    font-size: 12px;
    color: grey;
    font-style: italic;
}