/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/08/2014, 09:46:38
    Author     : flavius
*/

#prog_semana {
    padding: 10px;
}

.dtPalestra {width: 100%;background-color: blue;color: white;text-align: center;}
.cit {font-style: italic; font-size: 12px;}


.TabControl{ width:100%; overflow:hidden; height:180px}
    .TabControl #header{ width:100%; overflow:hidden; cursor:pointer}
    .TabControl #content_aba{ width:99%; border: solid 1px;overflow:hidden; height:99%; }
    .TabControl .abas{display:inline;}
    .TabControl .abas li{float:left;list-style: none;}
    .aba{width:108px; height:30px; border:solid 1px; border-radius:5px 5px 0 0;
            text-align:center; padding-top:5px; background:#CCF;}
    .ativa{width:108px; height:30px; border:solid 1 px; border-radius:5px 5px 0 0;
            text-align:center; padding-top:5px; background:#666;}
    .ativa span, .selected span{color:#fff}
    .TabControl #content_aba{background:#CCF}
    .TabControl .conteudo_aba{width:100%;  background:#CCF; display:none; height:99%;}
    .selected{width:100px; height:30px; border:solid 1 px; border-radius:5px 5px 0 0;
            text-align:center; padding-top:5px; background:#999}

#aviso {font-family: Courier New, monospace;font-size: 14px;}

/*** Boletim ***/
#boletim {padding: 10px;}
    .title_boletim {margin-bottom: 10px;font-weight: bold;}
    .epistola {text-align: right !important;font-size: 12px;margin-bottom: 10px;}
        .txt_evan {font-style: italic;}
    .txt_boletim {text-indent:2em;margin-bottom: 15px;}    
    