/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19/01/2015, 15:13:34
    Author     : flavius
*/

body {background-color: #ebebeb;}

#cabecalho {padding: 15px;}

#sidebar {}

footer {border-top: 1px solid #555;}

.sessao {background-color: #ccc;border:1px solid #555;}
    .sessao span {font-size: 20px;font-weight: bold;}
    
#cxConteudo {background-color: white;border: 1px solid #ccc;border-top: none;}

.padding {padding: 10px;}

.red {color: red;}


/**** CABEÇALHO ****/
#cabecalho {background-color: #3366ff;}
    .cei {font-size: 38px;color: white;font-family: Arial, Lucida, sans-serif;font-weight: bold;}
    .endereco {font-size: 12px;font-weight: bold;color: #ccc;}
    
/**** MENU ****/
.navbar-collapse {background-color: #ccc;}
    .navbar-collapse a {color: #555;font-size: 16px;}
    .dropdown-menu a {color: #555;font-weight: bolder;}
    .dropdown-menu li a:hover {background-color: #ccc;}
    .navbar-toggle {background-color: #888;}

    
/**** RODAPÉ ****/
footer {background-color: #3366ff;}

/**** CONTEÚDO ****/
/* Sessões */
#conteudo .panel-heading {font-weight: bold;}